---
import Layout from '@/layouts/Layout.astro'
import Bookmarks from '@/components/Bookmarks.vue'
import { GETFolders } from '@/api/folders.ts'
import { GETLinks } from '@/api/links'

const folders = await GETFolders(Astro)
const links = await GETLinks(Astro)

const data = {
	folders: await folders.json(),
	links: await links.json(),
}
---

<Layout title="Bookmarki">
	<main>
		<h1>Bookmarki</h1>
		<Bookmarks
			client:load
			folders={data.folders}
			links={data.links}
		/>
	</main>
</Layout>